.external_form{
    position: relative;
    font-size: 20px;
    color: @ga-white;
    margin-bottom: 15px;
    >img{
        width: 30px;
    }

    >a{
        font-family: 'CusFont2';
        color: @ga-white;
        border-bottom: 2px solid @ga-lightpurple;
    }
    >a:hover,
    >a::selection{
        color: @ga-lightpurple;
    }
}

@media (max-width:500px){
    .external_form{
        position: relative;
        font-size: 18px;
        color: @ga-white;
        margin-bottom: 15px;
        >img{
            width: 25px;
        }
}
}
