@ga-blue:rgb(14, 14, 85);
@ga-purple:rgb(36, 3, 97);
@ga-purple-t: rgba(36, 3, 97, 0.85);
@ga-lightpurple: rgb(247, 153, 255);
@ga-white: white;
@ga-white-t1:rgba(255, 255, 255, 0.7); 
@ga-transparent: rgba(255, 255, 255, 0);

@logo-c1: @ga-white;
@logo-c2: @ga-blue;


