@font-face{
    font-family:'CusFont1';
    src: url('/assets/fonts/helveticaroundedltstdbd/HelveticaRoundedLTStd-Black.otf') 
}

@font-face{
    font-family:'CusFont2';
    src: url('/assets/fonts/helveticaroundedltstdbd/HelveticaRoundedLTStd-Bd.otf') 
}
